PANDAS

In [ ]:
import numpy as np
import pandas as pd

convert numpy array,list into series

In [ ]:
list=[1,2,3,4,5]
labels=['a','b','c','d','e']
arr=np.array([1,2,3,4,5])
d={'a':1,'b':2,'c':3,'d':4,'e':5}

In [ ]:
pd.Series(data=list)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
pd.Series(data=list,index=labels)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:
pd.Series(list,labels)

a    1
b    2
c    3
d    4
e    5
dtype: int64

numpy array to series

In [ ]:
pd.Series(arr)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
pd.Series(arr,index=labels)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:
pd.Series(d)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:
series1=pd.Series([1,2,4,6],index=['germany','usa','ussr','poland'])

In [ ]:
series2=pd.Series([2,5,8,4],index=['germany','usa','india','poland'])

In [ ]:
series1['poland']

6

In [ ]:
series1+series2

germany     3.0
india       NaN
poland     10.0
usa         7.0
ussr        NaN
dtype: float64

DATAFRAMES

In [ ]:
from numpy.random import randn
np.random.seed(101)

In [ ]:
df=pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [ ]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

selection and indexing

In [ ]:
df['X Z'.split()]

          X         Z
A  0.628133  0.503826
B -0.319318  0.605965
C  0.740122 -0.589001
D -0.758872  0.955057
E  1.978757  0.683509

adding new column by adding 2 existing columns

In [ ]:
df['new']=df['W']+df['Z']
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.210676
B  0.651118 -0.319318 -0.848077  0.605965  1.257083
C -2.018168  0.740122  0.528813 -0.589001 -2.607169
D  0.188695 -0.758872 -0.933237  0.955057  1.143752
E  0.190794  1.978757  2.605967  0.683509  0.874303

In [ ]:
df.drop(columns='new')

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.210676
B  0.651118 -0.319318 -0.848077  0.605965  1.257083
C -2.018168  0.740122  0.528813 -0.589001 -2.607169
D  0.188695 -0.758872 -0.933237  0.955057  1.143752
E  0.190794  1.978757  2.605967  0.683509  0.874303

In [ ]:
df.drop(columns='new',axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.210676
B  0.651118 -0.319318 -0.848077  0.605965  1.257083
C -2.018168  0.740122  0.528813 -0.589001 -2.607169
D  0.188695 -0.758872 -0.933237  0.955057  1.143752
E  0.190794  1.978757  2.605967  0.683509  0.874303

In [ ]:
df.drop(columns='new',axis=1,inplace=True)

In [ ]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [ ]:
df.iloc[1]

W    0.651118
X   -0.319318
Y   -0.848077
Z    0.605965
Name: B, dtype: float64

In [ ]:
df.loc['B','Y']

-0.8480769834036315

In [ ]:
df.loc[['A','B'],['X','Y']]

          X         Y
A  0.628133  0.907969
B -0.319318 -0.848077

conditional selection

In [ ]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df>0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [ ]:
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df[df['W']>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df['W']>0

A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool

In [ ]:
df[df['W']>0]['Y']

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: Y, dtype: float64

In [ ]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df[(df['W']<0) & (df['Y']>0)]

          W         X         Y         Z
C -2.018168  0.740122  0.528813 -0.589001

In [ ]:
df[(df['W']<0) | (df['Y']>0)]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
C -2.018168  0.740122  0.528813 -0.589001
E  0.190794  1.978757  2.605967  0.683509

**MISSING DATA**

In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'A': [1,2,np.NaN],'B':[5,np.NaN,np.NaN],'C': [1,2,3]})
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [2]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [3]:
df.dropna(axis = 1)

   C
0  1
1  2
2  3

In [4]:
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [5]:
df.fillna(value='FILL VALUE')

            A           B  C
0         1.0         5.0  1
1         2.0  FILL VALUE  2
2  FILL VALUE  FILL VALUE  3

In [6]:
df['A'].fillna(value = df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

**OPERATIONS IN PANDAS**

In [7]:


df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['ab','cd','ef','gh']})
df

   col1  col2 col3
0     1   444   ab
1     2   555   cd
2     3   666   ef
3     4   444   gh

In [8]:
df['col2'].unique()

array([444, 555, 666])

In [9]:
df['col2'].nunique()

3

In [10]:
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

In [11]:
#Select from dataframe using criteria from multiple columns
newdf = df[(df['col2']>3)& (df["col2"]==555)]
newdf

   col1  col2 col3
1     2   555   cd

In [12]:
def times2(x):
    return x*2
df['col1'].apply(times2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [13]:
df['col3'].apply(len)

0    2
1    2
2    2
3    2
Name: col3, dtype: int64

In [14]:
df['col1'].sum()

10

In [15]:
del df['col2']
df

   col1 col3
0     1   ab
1     2   cd
2     3   ef
3     4   gh

In [16]:
df.columns

Index(['col1', 'col3'], dtype='object')

In [17]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [18]:
df

   col1 col3
0     1   ab
1     2   cd
2     3   ef
3     4   gh

In [19]:
df.sort_values(by='col3') #inplace =False by Default

   col1 col3
0     1   ab
1     2   cd
2     3   ef
3     4   gh

In [20]:
df.sort_values(by='col3', inplace =True)
df

   col1 col3
0     1   ab
1     2   cd
2     3   ef
3     4   gh

In [21]:
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444]})
df

   col1  col2
0     1   444
1     2   555
2     3   666
3     4   444

In [22]:
df.sort_values(by='col1')

   col1  col2
0     1   444
1     2   555
2     3   666
3     4   444

In [23]:
df.sort_values(by='col2', inplace =True)
df

   col1  col2
0     1   444
3     4   444
1     2   555
2     3   666

In [24]:
df.isnull()

    col1   col2
0  False  False
3  False  False
1  False  False
2  False  False