In [17]:
import numpy as np
import pandas as pd

In [20]:
df=pd.read_csv('/content/sample_data/Salaries.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [21]:
df.head()

   Id       EmployeeName  ...         Agency  Status
0   1     NATHANIEL FORD  ...  San Francisco     NaN
1   2       GARY JIMENEZ  ...  San Francisco     NaN
2   3     ALBERT PARDINI  ...  San Francisco     NaN
3   4  CHRISTOPHER CHONG  ...  San Francisco     NaN
4   5    PATRICK GARDNER  ...  San Francisco     NaN

[5 rows x 13 columns]

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125322 entries, 0 to 125321
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                125322 non-null  int64
 1   EmployeeName      125322 non-null  object
 2   JobTitle          125322 non-null  object
 3   BasePay           124717 non-null  float64
 4   OvertimePay       125322 non-null  float64
 5   OtherPay          125322 non-null  float64
 6   Benefits          89163 non-null   float64
 7   TotalPay          125322 non-null  float64
 8   TotalPayBenefits  125321 non-null  float64
 9   Year              125321 non-null  float64
 10  Notes             0 non-null       float64
 11  Agency            125321 non-null  object
 12  Status            14790 non-null   object
dtypes: float64(8), int64(1), object(4)
memory usage: 12.4+ MB

avg basepay

In [23]:
df['BasePay'].mean()

71374.75264304064

highest amount of overtimepay

In [24]:
df['OvertimePay'].max()

245131.88

In [25]:
df["JobTitle"][df['EmployeeName']=="JOSEPH DRISCOLL"]

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [26]:
df["TotalPayBenefits"][df['EmployeeName']=="JOSEPH DRISCOLL"]

24    270324.91
Name: TotalPayBenefits, dtype: float64

highest paid person

In [27]:
df[df['TotalPayBenefits'].max()==df['TotalPayBenefits']]

   Id    EmployeeName  ...         Agency  Status
0   1  NATHANIEL FORD  ...  San Francisco     NaN

[1 rows x 13 columns]

lowest paid person

In [28]:
df[df['TotalPayBenefits'].min()==df['TotalPayBenefits']]

            Id   EmployeeName          JobTitle  ...  Notes         Agency  Status
110530  110531  David P Kucia  Police Officer 3  ...    NaN  San Francisco     NaN

[1 rows x 13 columns]

avg mean basepay of all employees per year(2011-2014

In [30]:
df.groupby('Year').mean()['BasePay']

Year
2011.0     63595.956517
2012.0     65436.406857
2013.0     69630.030216
2014.0    109518.466320
Name: BasePay, dtype: float64

unique jobtitles

In [31]:
df['JobTitle'].nunique()

2143

top 5 most common jobs

In [32]:
df['JobTitle'].value_counts().head(5)

Transit Operator    5233
Registered Nurse    3496
Special Nurse       2996
TRANSIT OPERATOR    2388
Police Officer 3    2335
Name: JobTitle, dtype: int64

In [33]:
(df[df['Year']==2013]['JobTitle'].value_counts()==1).sum()

202

In [34]:
df['JobTitle'].apply(lambda str:('chief' in str.lower())).sum()

605

In [36]:
def find_chief(job_title):    
    if 'chief' in job_title.lower().split():
        return True
    else:
        return False

df = pd.read_csv('/content/sample_data/Salaries.csv')

sum(df['JobTitle'].apply(lambda x: find_chief(x)))

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

455

**RESULT:**
The program executed successfully and obtained the output.